/InventoryApps/nbproject/private/
/InventoryApps/dist/
/InventoryApps/build/
/testApplication/nbproject/private/
/testApplication/build/
/testApplication/dist/
/rememberFiles/nbproject/private/
/inventorySystemDB/nbproject/private/
/inventorySystemDB/build/